*{
	margin: 0;
	padding: 0;
}


.cabecalho{
	display: flex;
	background-color: #6D287E;  
	color: white;  
	justify-content: space-around;
	align-items: center;
}

.cabecalho-Lista__Item{
	display: inline-block;
}

.cabecalho-Lista{
	margin: 50px;
	font-size: 30px;
}
